<!--to left, #3b4270 50%, #59608a 100%-->
<nav class="navbar navbar-expand-lg navbar-dark bg-white py-3 shadow-lg" style="background-image: linear-gradient(to left, #7d81b0 50%, #cccccc 100%);">
    <div class="container"><a class="navbar-brand" [routerLink]="['/']">
        <img src="../../assets/images/navlogo1.png" style="width: 220px;"></a>
    <!--
        <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapsing()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" [class.collapse]="navbarCollapsed">
            <ul class="navbar-nav ml-auto align-self-center nav-header">
                <li class="nav-item active"><a class="nav-link" href="http:\\gate.sgs.org.sa">البوابة الدخلية</a></li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['Home']">Home2</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
        </div>
    -->
    </div>
    <div class="" style="margin-right:20px; margin-left: 15px; color: #292e5c;">
       Najjar.Osama <i class="fas fa-user"></i>
    </div>
</nav>

