<div class="row">
  <!--data-aos="fade-left" data-aos-duration="1000"-->
  <div class="col-md-2" data-aos="fade-left" data-aos-duration="500">
    <div style="margin:10px;">
      <a [routerLink]="['/requests']">
        <div class="right-tabs">
          <div>
            <span class="fa-pull-left"><i style="font-size:36px;" class="far fa-file-alt"></i></span>
            <strong>4</strong>
            <br>
            <span style="font-size:large;">طلباتي</span>
            <br> 
          </div>
        </div>
      </a>
    </div>
    <div style="margin:10px;">
      <a [routerLink]="['/approvals']">
        <div class="right-tabs">
          <div>
            <span class="fa-pull-left"><i style="font-size:36px;" class="fas fa-tasks"></i></span>
            <strong>3</strong>
            <br>
            <span style="font-size:large;">مهامي</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!--data-aos="fade-up" data-aos-duration="1000"-->
  <div class="col-md-10" style="margin-top:10px;" data-aos="fade-up" data-aos-duration="500">
    <h2 style="padding-left: 5px;">الخدمات الإلكترونية</h2>
    <!-- Nav tabs -->
    <div class="card-home">
      <div>
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#AirSupport" role="tab" style="font-size:medium;">
              <i class="fas fa-helicopter"></i> الدعم الجوي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Computer" role="tab" style="font-size:medium;">
              <i class="fas fa-desktop"></i> الحاسب الالي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Lab" role="tab" style="font-size:medium;">
              <i class="fas fa-flask"></i> المعامل و المختبرات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Maps" role="tab" style="font-size:medium;">
              <i class="fas fa-map-marked-alt"></i> الخرائط الطبوغرافية
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Follow" role="tab" style="font-size:medium;">
              <i class="fas fa-chart-line"></i> ادارة المتابعة
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Filed" role="tab" style="font-size:medium;">
              <i class="fas fa-hammer"></i> الدعم الحقلي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Publish" role="tab" style="font-size:medium;">
              <i class="fas fa-pencil-alt"></i> خدمات ادارة المعرفة
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Geoinfo" role="tab" style="font-size:medium;">
              <i class="fas fa-globe-americas"></i> إدارة نظم المعلومات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Training" role="tab" style="font-size:medium;">
              <i class="fas fa-graduation-cap"></i> التدريب و الدورات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Scan" role="tab" style="font-size:medium;">
              <i class="fas fa-ruler"></i> المسح الجيولوجي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Plan" role="tab" style="font-size:medium;">
              <i class="fas fa-layer-group"></i> نماذج التخطيط
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Forms" role="tab" style="font-size:medium;">
              <i class="fab fa-wpforms"></i>  النماذج العامة
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content text-center">
          <div class="tab-pane active" id="AirSupport" role="tabpanel">
            <div class="row">
              <div class="col-md-3">
                <div class="box">
                  <div style="color: #37407e; font-size:xx-large;"><i class="fas fa-helicopter"></i></div>
                  <br>
                  <h6>طلب طائرة عمودية</h6>
                  <hr class="d-md-none d-lg-block">
                    <div class="text-center d-md-none d-lg-block" style="font-size:small;">
                      <p> طلب طائرة عمودية لدعم الاعمال الحقلية  </p>
                    </div>
                </div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
            </div>
          </div>
          <div class="tab-pane" id="Computer" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xl-3">
                <div class="box">
                  <a href="form.html">
                    <div style="color: #37407e; font-size:xx-large;"><i class="fas fa-desktop"></i></div>
                    <br>
                    <h6>طلب نقطة وصول للشبكة</h6>
                    <hr class=" d-lg-block d-xl-block d-md-none">
                    <div class="text-center d-lg-block d-xl-block d-md-none" style="font-size:x-small;">
                      <p>تجهيز نقطة جديد للوصول للشبكة لتوصيل اجهزة الحاسب الالي او الهاتف الشبكي او مشاركة الطابعات </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-3">
                <div class="box">
                  <a href="#٢">
                    <div style="color: #37407e; font-size:xx-large;"><i class="fas fa-desktop"></i></div>
                    <br>
                    <h6>طلب تسجيل مستخدم جديد</h6>
                    <hr class="d-md-none d-lg-block">
                    <div class="text-center d-md-none d-lg-block" style="font-size:small;">
                      <p>انشاء مستخدم جديد للدخول للانظمة الالكترونية و الاستفادة من الخدمات  الالكترونية </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-3">
                <div class="box">
                  <div style="color: #37407e; font-size:xx-large;"><i class="fas fa-desktop"></i></div>
                  <br><br>
                  <h6>طلب خدمة سطح المكتب الافتراضي</h6>
                  <br>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-3">
                <div class="box">
                  <div style="color: #37407e; font-size:xx-large;"><i class="fas fa-desktop"></i></div>
                  <br><br>
                  <h6>طلب تأمين أجهزة حاسب آلي</h6>
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xl-3">
                <div class="box">
                  <div style="color: #37407e; font-size:xx-large;"><i class="fas fa-desktop"></i></div>
                  <br><br>
                  <h6>طلب تأمين ملحقات أجهزة الحاسب الآلي</h6>
                  <br>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-3">
                <div class="box">
                  <div style="color: #37407e; font-size:xx-large;"><i class="fas fa-desktop"></i></div>
                  <br><br>
                  <h6>طلب تأمين احبار </h6>
                  <br>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-3">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-3">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Lab" role="tabpanel">
            <p>Lab</p>
          </div>
          <div class="tab-pane" id="Maps" role="tabpanel">
            <p>Maps</p>
          </div>
          <div class="tab-pane" id="Follow" role="tabpanel">
            <p>Follow-up</p>
          </div>
          <div class="tab-pane" id="Filed" role="tabpanel">
            <p>Filed Support</p>
          </div>
          <div class="tab-pane" id="Publish" role="tabpanel">
            <p>Knowledge</p>
          </div>
          <div class="tab-pane" id="Geoinfo" role="tabpanel">
            <p>Geo information</p>
          </div>
          <div class="tab-pane" id="Training" role="tabpanel">
            <p>Training</p>
          </div>
          <div class="tab-pane" id="Scan" role="tabpanel">
            <p>Geo Scan</p>
          </div>
          <div class="tab-pane" id="Plan" role="tabpanel">
            <p>Planning</p>
          </div>
          <div class="tab-pane" id="Forms" role="tabpanel">
            <p>public Forms</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>